@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 300 36% 8%;
    --foreground: 197 100% 98%;
    --card: 250 20% 8%;
    --popover: 250 20% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 189 100% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 191 89% 21%;
    --secondary-foreground: 0 0% 98%;
    --muted: 225 9.1% 65.5%;
    --muted-foreground: 225 9.1% 65.5%;
    --destructive: 357 57% 55%;
    --destructive-foreground: 197 100% 95%;
    --action: 300 36% 8%;
    --action-foreground: 189 100% 45%;
    --border: 240 2% 23%;
    --input: 240 3.7% 15.9%;
    --ring: 240 10% 3.9%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family:
      "Mulish",
      ui-sans-serif,
      system-ui,
      sans-serif,
      Apple Color Emoji,
      Segoe UI Emoji,
      Segoe UI Symbol,
      Noto Color Emoji;
  }

  /* Firefox-only part */
  @-moz-document url-prefix() {
    .scrollbar-vert,
    .scrollbar-horz {
      scrollbar-color: #d1d5db99 #fff;
      scrollbar-width: thin;
    }

    @media (prefers-color-scheme: dark) {
      .scrollbar-vert,
      .scrollbar-horz {
        scrollbar-color: #423466 #17101f;
      }
    }
  }
  /* End Firefox-only part */

  /* Webkit-only part */
  .scrollbar-vert::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-horz::-webkit-scrollbar {
    height: 8px;
  }

  .scrollbar-vert::-webkit-scrollbar-thumb,
  .scrollbar-horz::-webkit-scrollbar-thumb {
    @apply bg-secondary;
    border-radius: 12px;
  }
  /* End Webkit-only part */

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@font-face {
  font-family: "FetteUNZFraktur";
  src: url("/fonts/FetteUNZFraktur.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}
